
body
{
 background-image: url(background.png);
 width: 1200px;
 margin-top: 200px;
}


table
{
 color: #000;
 width: 400px;
 border: 1px solid #000;
 text-align: center;
 border-collapse: collapse;
}

table th
{
 background-color: #808080;
 color: #000;
}

table tr
{
 border-bottom: 1px solid #000;
}


.cont
{
 margin-top: 20px;
 margin-left: 150px;
 float: left;
}

